In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/shivang98/Social-Network-ads-Boost/master/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.shape

(400, 5)

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
df.describe()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
df.set_index('User ID')

          Gender  Age  EstimatedSalary  Purchased
User ID
15624510    Male   19            19000          0
15810944    Male   35            20000          0
15668575  Female   26            43000          0
15603246  Female   27            57000          0
15804002    Male   19            76000          0
...          ...  ...              ...        ...
15691863  Female   46            41000          1
15706071    Male   51            23000          1
15654296  Female   50            20000          1
15755018    Male   36            33000          0
15594041  Female   49            36000          1

[400 rows x 4 columns]

In [ ]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [ ]:
X = df[['Age', 'EstimatedSalary']]
Y = df['Purchased']

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
model = LogisticRegression()

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size=0.2, random_state = 225)

In [ ]:
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
model.score(x_train,y_train)

0.6375

In [ ]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [ ]:
y_predict = model.predict(x_test)

MIX MAX NORMALIZATION

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
x_scaler = scaler.fit_transform(X)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x_scaler,Y, test_size=0.2, random_state = 225)

In [ ]:
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_predict = model.predict(x_test)

In [ ]:
model.score(x_train,y_train)

0.840625

In [ ]:
model.score(y_test,y_test)

ValueError: ignored

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
cr = classification_report(y_predict,y_test)

In [ ]:
print(cr)

              precision    recall  f1-score   support

           0       0.91      0.77      0.83        62
           1       0.48      0.72      0.58        18

    accuracy                           0.76        80
   macro avg       0.69      0.75      0.71        80
weighted avg       0.81      0.76      0.78        80

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_predict)
print(cm)

[[48  5]
 [14 13]]

In [ ]:
from sklearn.metrics import classification_report
cr = classification_report(y_test,y_predict)
print (cr)

              precision    recall  f1-score   support

           0       0.77      0.91      0.83        53
           1       0.72      0.48      0.58        27

    accuracy                           0.76        80
   macro avg       0.75      0.69      0.71        80
weighted avg       0.76      0.76      0.75        80

In [ ]:
from sklearn.metrics import accuracy_score
acc =  accuracy_score(y_test,y_predict)
print(acc)

0.7625